@media screen and (max-width: 899px) {

body {
    margin: 0;
    padding: 0;
}

#bodyContainer {
align-items: center;
display: flex;
justify-content: space-around;
font-family: Verdana, sans-serif;
}

#header {
    padding-inline: 10px;
    height: 80px;
    background-color: gold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: rgb(30, 30, 30);
}

#countdown {
    text-align: center;
    color: azure;
    text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    text-decoration-color: black;
    line-height: 200px;
    font-family: Verdana, sans-serif;
}

#answerColor {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

#optionColors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.optionColor {
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
}

.optionColor:hover {
    cursor: pointer;
    opacity: 80%;
}

#playAgain {
    padding: 20px;
    border-radius: 10px;
    background-color: gold;
    color: whitesmoke;
}

#gameOver {
margin-top: 50px;
font-size: 40px;
color: rgb(40, 40, 40);
}

#playAgain {
    margin-top: 50px;
    text-align: center;
    color: rgb(40, 40, 40);
}

#playAgain:hover {
    cursor: pointer;
    opacity: 80%;
}

}